<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd
import numpy as np

In [2]:
#Import the advertising dataset
df_advertising_dataset = pd.read_csv('datasets/Advertising Budget and Sales.csv',sep=',')

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
df_advertising_dataset.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [5]:
#Check the total number of elements in the dataset
df_advertising_dataset.shape

(200, 5)

#### 3: Find the features or media channels used by the firm

In [6]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_advertising_dataset.shape

(200, 5)

In [7]:
#View the names of each of the attributes
df_advertising_dataset.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [9]:
#Create a feature object from the columns
x_feature = df_advertising_dataset[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]
x_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
0             230.1                 37.8                     69.2
1              44.5                 39.3                     45.1
2              17.2                 45.9                     69.3
3             151.5                 41.3                     58.5
4             180.8                 10.8                     58.4

In [12]:
#View the target object
y_target = df_advertising_dataset[['Sales ($)']]
y_target.head()

   Sales ($)
0       22.1
1       10.4
2        9.3
3       18.5
4       12.9

In [13]:
#Verify if all the observations have been captured in the feature object
print(x_feature.shape, y_target.shape)

(200, 3) (200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [14]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_feature,y_target,random_state=1)

In [15]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(150, 3) (150, 1)
(50, 3) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [16]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [17]:
#Print the intercept and coefficients 
print(linreg.intercept_,linreg.coef_)

[2.87696662] [[0.04656457 0.17915812 0.00345046]]

In [18]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(x_test)

#### 7: Calculate the Mean Square Error (MSE)

In [19]:
#Import required libraries for calculating MSE (mean square error)
import numpy as np
from sklearn import metrics

In [20]:
#Calculate the RMSE
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

1.404651423032895