# Welcome to Python
## Here is our first Program - Hello World!

In [1]:
print('Hellow World!!')

Hellow World!!

### The same Hello world program in Dotnet
### see how much you reduced in Python - User Friendly

In [68]:
""" Hello World! program
namespace HelloWorld
{
    class Hello {         
        static void Main(string[] args)
        {
            
           a+b  ;
            
            
                                        System.Console.WriteLine("Hello World!");
        }
    }
}
"""

' Hello World! program\nnamespace HelloWorld\n{\n    class Hello {         \n        static void Main(string[] args)\n        {\n            \n           a+b  ;\n            \n            \n                                        System.Console.WriteLine("Hello World!");\n        }\n    }\n}\n'

## types of comments in Python

In [70]:
"""This is a multi-line 
comment"""

#this is a single line comment

'This is a multi-line \ncomment'

## importance of Indentation (WhiteSpace) in Python
### below code throws error due to improper indentations within the code

In [71]:
a=30
if a>25:
print('Yes it is greater')

IndentationError: expected an indented block (<ipython-input-71-42681faabe76>, line 3)

In [72]:
# bulding block of python is object - Variable
# = assigning value

#-------------Strictly typed language (jave, dotnet)-----------
#a int;
#a = 30;

#-------------dynamically typed language---------
a=30 #int
b="Salman" #str
c=30.06 #float

In [74]:
#type function is used to know the datatype of an object
print('a:',type(a))
print('b:',type(b))
print('c:',type(c))

a: <class 'int'>
b: <class 'str'>
c: <class 'float'>

In [75]:
#Boolean - True or False
d=True
e=False
print(d,e)
type(d)

True False

bool

In [76]:
#create a calculator which performs Add,Sub,Mul,Division from above learning
a=30
b=21
c=16

Adding = a+b+c
Subtracting = a-b-c
Multi = a*b*c
Div = a/b
print(Adding, Multi,Subtracting,Div)
print(type(Adding), type(Multi),type(Subtracting),type(Div))

67 10080 -7 1.4285714285714286
<class 'int'> <class 'int'> <class 'int'> <class 'float'>

## PEMDAS rule

In [19]:
#parenthesis, Exponential, Mul, Div, Add, Sub
val = (a*b)+c**2+b*c+a
print('Value : ',val

Value :  1252

In [77]:
val2 = "This is just a comment" #singline strings
val1 = """such a huuuuuuuuuuuuuge string
am gonna write now""" #Multiline strings ex: paragraphs
val3 = val2 +',' + val1

print(val3)

This is just a comment,such a huuuuuuuuuuuuuge string
am gonna write now

### None Type - used to create an object with no specific datatype. This object can be used later down the line when required

In [82]:
a = None
print(type(a))
a=3
type(a)

<class 'NoneType'>

int

## Lists - Example

In [83]:
#Array (drawbacks) - will have fixed length, and it should have same datatype
#lists are introduced with dynamically growing lengths & it contains multiple datatype elements

PhoneNumbers_Name = ["Dawood","Althaf","Suleman","Bob"]
PhoneNumbers_No = ["8888","1234","4567","6632"]
#print(PhoneNumbers_Name,PhoneNumbers_No)

#lists are zero based index elements
print(PhoneNumbers_Name[2],PhoneNumbers_No[2])

Suleman 4567

## Slicing Techniques

In [84]:
Relatives_no = [PhoneNumbers_Name[:3],PhoneNumbers_No[:3]]
#[inclusive:exclusive]
Relatives_no

[['Dawood', 'Althaf', 'Suleman'], ['8888', '1234', '4567']]

In [85]:
PhoneNumbers_Name.append("XYZ")
PhoneNumbers_No.append('9963')

print(PhoneNumbers_Name,PhoneNumbers_No)

['Dawood', 'Althaf', 'Suleman', 'Bob', 'XYZ'] ['8888', '1234', '4567', '6632', '9963']

In [43]:
PhoneNumbers_Name[1:]

['Althaf', 'Suleman', 'Bob', 'XYZ']

## Floor & Ceiling

In [86]:
#Normal Division
print(5/2) # --> Float

#Floor Division
print(5//2) # --> int

2.5
2

In [87]:
#String Multiplication
var1 = "This is awesome!"
var1*50

'This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!This is awesome!'

## Basic Operators

In [88]:
#aasinging
a,b=30,20
#equality
a==30
#inequality
a!=30
#greater than
a>b
#less than
a<b

False

## Dictionary - Example

In [53]:
phone_dict = {"Dawood":"8888","Althaf":"1234","Suleman":"4567","Bob":"6632"}
phone_dict

{'Dawood': '8888', 'Althaf': '1234', 'Suleman': '4567', 'Bob': '6632'}

In [54]:
phone_dict.keys()

dict_keys(['Dawood', 'Althaf', 'Suleman', 'Bob'])

In [55]:
phone_dict.values()

dict_values(['8888', '1234', '4567', '6632'])

In [60]:
phone_dict.items()

dict_items([('Dawood', '8888'), ('Althaf', '1234'), ('Bob', '6632'), ('Salman', '4567')])

In [57]:
phone_dict['Suleman']

'4567'

In [59]:
#modifying a dictionary Key
phone_dict['Salman'] = phone_dict.pop('Suleman')
phone_dict

{'Dawood': '8888', 'Althaf': '1234', 'Bob': '6632', 'Salman': '4567'}

In [62]:
phone_dict['Salman']
phone_dict.get('Salman')

'4567'

## Tuples

In [89]:
var_t = (24,36)
list_of_tuples = [('Dawood','1234'),('Althaf','4567'),('Salman','6678')]
print(list_of_tuples)

# tuples of immutable
#mutable = modify
#immutable = cannot modify

tuple.count(1)

[('Dawood', '1234'), ('Althaf', '4567'), ('Salman', '6678')]

1