In [1]:
import pandas as pd
import numpy as np
import string
from pprint import pprint
from time import time

In [6]:
df_spam_collection = pd.read_csv('datasets/spam.csv',encoding='latin-1')

In [7]:
df_spam_collection.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
df_spam_collection.drop(labels=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1, inplace=True)
df_spam_collection.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df_spam_collection.columns = ['response','message']
df_spam_collection.head()

  response                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
df_spam_collection.shape

(5572, 2)

In [19]:
df_spam_collection.groupby('response').describe()

         message                                                            \
           count unique                                                top
response
ham         4825   4516                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
response
ham        30
spam        4

In [21]:
#import text processing libraries
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
#import SGD Classifier
from sklearn.linear_model import SGDClassifier
#import for grid search
from sklearn.model_selection import GridSearchCV
#import pipeline
from sklearn.pipeline import Pipeline

#define pipeline
pipeline = Pipeline([
    ('vect',CountVectorizer()),('tfidf',TfidfTransformer()),('sgdclf',SGDClassifier())
])

In [24]:
#parameters for grid search
parameters = {'tfidf__use_idf':(True,False)}

In [25]:
#perform the grid search with pippeline parameters
grid_search = GridSearchCV(pipeline,parameters,n_jobs=1,verbose=1)
print('performing grid search now..')
print('parameters : ',parameters)
t0=time()
grid_search.fit(df_spam_collection['message'],df_spam_collection['response'])
print('done in %0.3fs'%(time()-t0))
print()

performing grid search now..
parameters :  {'tfidf__use_idf': (True, False)}
Fitting 3 folds for each of 2 candidates, totalling 6 fits

C:\Users\msdaw\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\msdaw\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    1.6s finished

done in 1.978s